<div class="paper">
    <h1 class="mat-display-3">All Listens</h1>
    <div id="overview">
        <mat-grid-list cols="4" rowHeight="60px">
            <mat-grid-tile>
                <p><span class="stat">{{unique_tracks}}</span></p>
            </mat-grid-tile>
            <mat-grid-tile>
                <p><span class="stat"> Unique Songs</span> </p>
            </mat-grid-tile>
            <mat-grid-tile>
                <p><span class="stat">{{unique_artists}}</span></p>
            </mat-grid-tile>
            <mat-grid-tile>
                <p><span class="stat"> Artists</span> </p>
            </mat-grid-tile>
            <mat-grid-tile>
                <p><span class="stat">{{total_tracks}}</span></p>
            </mat-grid-tile>
            <mat-grid-tile>
                <p><span class="stat"> Total Tracks</span> </p>
            </mat-grid-tile>
            <mat-grid-tile>
                <p><span class="stat">{{time_days}}</span></p>
            </mat-grid-tile>
            <mat-grid-tile>
                <p><span class="stat"> Days </span> </p>
            </mat-grid-tile>
        </mat-grid-list>
    </div>
    <!-- <p><span class="stat">{{unique_artists}}</span> <span class="stat_title"> Artists</span> </p> -->
    <!-- <p><span class="stat">{{total_tracks}}</span> <span class="stat_title"> Total Tracks</span> </p> -->
    <!-- <p><span class="stat">{{time_hours}} <span class="stat_title">Hours (</span> {{time_days}} </span><span -->
    <!-- class="stat_title">) days</span> </p> -->
</div>