.stat_title {
    font-size: 22px;
    position: absolute;
    left: 5px;
}

.stat {
    font-size: 26px;
    position: absolute;
    left: 5px;
}

.current_text {
    font-size: 24px;
}

#current_label {
    font-size: 20px;
}

.tile_img {
    height: 100%;
    width: auto;
}