<div class="paper">
    <h1 id="header" class="mat-display-1">{{song_name}}</h1>
    <h1 id="header_artist" class="mat-display-1">{{artist_name}}</h1>
    <h1 id="header_info" class="mat-display-2">{{listen_count}} listens for {{listen_time}} {{listen_time_unit}}</h1>
    <div>
        <p class="info_line">First listen was on {{first_song_date}}</p>
        <p class="info_line">Last listen was on {{last_song_date}}</p>
    </div>
    <div id="graph">
        <canvas id="canvas"></canvas>
    </div>
    <br>
    <div id="buttons">
        <mat-button-toggle-group id='timescale' value="months">
            <mat-button-toggle value="months" (click)="change_timescale('month')">Month</mat-button-toggle>
            <mat-button-toggle value="years" (click)="change_timescale('year')">Year</mat-button-toggle>
        </mat-button-toggle-group>
        <mat-button-toggle-group id='stat' value="listens">
            <mat-button-toggle value="listens" (click)="change_stat('counts')">Listens</mat-button-toggle>
            <mat-button-toggle value="time" (click)="change_stat('times')">Time</mat-button-toggle>
        </mat-button-toggle-group>
    </div>
    <br>
    <br>
</div>