<div class="paper">
    <h1 id="header" class="mat-display-1">{{artist_name}}</h1>
    <h1 id="header_info" class="mat-display-2">{{listen_count}} listens for {{listen_time}} {{listen_time_unit}}</h1>
    <h1 id="header_info" class="mat-display-2">{{unique_songs}} unique songs</h1>
    <div id="inputs">
        <form class="input_form" (ngSubmit)="submit_song()" novalidate>
            <mat-form-field class="full_width">
                <mat-label>Song</mat-label>
                <input name="a_input" id="song_input" type="text" matInput [formControl]="song_control"
                    [matAutocomplete]="auto">
                <mat-autocomplete #auto="matAutocomplete" [displayWith]="song_display_fn" (optionSelected)="select_song($event)">
                    <mat-option *ngFor="let option of song_filtered_options | async" [value]="option">
                        {{option.song_name}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
            <button id="submit_button" submit mat-button>Submit</button>
        </form>
    </div>
    <div>
        <p class="info_line">First song listened to was <a mat-button id="first_song_link" class="song_name">{{first_song_name}}</a> on {{first_song_date}}</p>
        <p class="info_line">Last song listened to was <a mat-button id="last_song_link" class="song_name">{{last_song_name}}</a> on {{last_song_date}}</p>
    </div>
    <div id="graph">
        <canvas id="canvas"></canvas>
    </div>
    <br>
    <div id="buttons">
        <mat-button-toggle-group id='timescale' value="months">
            <mat-button-toggle value="months" (click)="change_timescale('month')">Month</mat-button-toggle>
            <mat-button-toggle value="years" (click)="change_timescale('year')">Year</mat-button-toggle>
        </mat-button-toggle-group>
        <mat-button-toggle-group id='stat' value="listens">
            <mat-button-toggle value="listens" (click)="change_stat('counts')">Listens</mat-button-toggle>
            <mat-button-toggle value="time" (click)="change_stat('times')">Time</mat-button-toggle>
            <mat-button-toggle value="uq_songs" (click)="change_stat('uq_songs')">Unique Songs</mat-button-toggle>
        </mat-button-toggle-group>
    </div>
    <br>
    <br>
</div>